
<p>The word of the day is: {{ word }}</p>

<ul>
  <li *ngFor="let protag of protags">
    <p>Protag: {{ protag.first_name }}<ng-container *ngIf="protag.nickname"> "{{ protag.nickname }}"</ng-container> {{ protag.last_name }} ({{ protag.gender }})</p>
  </li>
</ul>

<hr>

<button (click)="generate()">Generate!</button>